body {
  font-family: Avenir, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

hr {
  background-color: #407FC7;
  width: 100%;
  height: 4px;
}

h1, h2 {
  margin: 0;
  color: #407FC7;
}

h3 {
  margin: 0;
  color: #2d3c49;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #13d3c3;
}

footer {
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: #407FC7;
  margin-bottom: 0;
  height: 50px;
  text-align: center;
}

.titleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titleHeader img {
  display: flex;
  justify-content: flex-start;
  max-width: 75px;
}

.name {
  display: inline-block;
  text-align: right;
}

.name h1 {
  font-size: 48px;
}

.mainImage {
  text-align: center;
  margin-bottom: 10px; 
}

.mainImage a {
  color: #407FC7;
}

.mainImage a:hover {
  color: #13d3c3;
}

.mainImage img {
  padding: 8px 0 8px;
  max-width: 100%;
}

.featuredTitle {
  background: lightblue;
}

.featuredTitle h1 {
  margin-left: 10px;
}

.featuredWork {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 25px;
  padding: 10px;
  text-align: center;
}

.card img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);
  height: 200px;
}

.cardTitle {
  margin-top: 15px;
}

@media (max-width: 583px) {
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 14px;
  }

  .featuredTitle h1 {
    text-align: center;
    margin: 0 auto;
  }

  .name h1 {
    font-size: 22px;
  }

  .titleHeader img {
    max-width: 50px;
  }
}

@media (max-width: 876px) {
  .featuredWork {
    display: flex;
    flex-wrap: wrap;
  }
}